@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.footer{
  margin-top: 1vh;
  padding: 1vh;
  background: rgb(73, 79, 82);
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}

html, body, #root, .App {
  height: 100%;
}